/*#draggable { width: 150px; height: 150px; padding: 0.5em; 
	background: linear-gradient( to left,yellow,white,pink); }*/


	#dable { width: 150px; height: 150px; padding: 0.5em; 
	background: linear-gradient( to left,teal,red,pink); }


	/*dropable*/
	 #draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }

  /*simple photo manager*/
  #gallery { float: left; width: 65%; min-height: 12em; }
  .gallery.custom-state-active { background: #eee; }
  .gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { width: 100%; cursor: move; }
 
  #trash { float: right; width: 32%; min-height: 18em; padding: 1%; }
  #trash h4 { line-height: 16px; margin: 0 0 0.4em; }
  #trash h4 .ui-icon { float: left; }
  #trash .gallery h5 { display: none; }
  /*simple photo manager*/
  /*shortable*/
   #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; background-color: yellow; }
  #sortable li { margin: 0 3px 3px 3px; padding: 1.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  /*#sortable li span { position: absolute; margin-left: -1.3em; }*/
  /*shortable*/

  /*Checkboxradio*/
      .shape {
      margin-left: 4em;
      margin-top: 2.5em;
      height: 8em;
      width: 8em;
      box-shadow: 4px 4px 8px;
      color: #ccc;
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: 50%;
    }
    .circle, .pill {
      border-radius: 8em;
    }
    .pill, .rectangle {
      width: 16em;
    }
    .square, .circle {
      margin-left: 9em;
    }
    .border {
      border: 2px solid #333333;
    }
    .toggles {
      width: 200px;
    }
    .toggle-wrap, .shape {
      display: inline-block;
      vertical-align: top;
    }
    .controls {
      background: #ccc;
      padding: 1em;
      display: inline-block;
    }
  /*Checkboxradio*/
  /*controlgroup*/
  #zoom-button {
      width: 55px;
    }
    #fontname-button,
    #fontsize-button {
      width: 45px;
    }
    #forecolor-button {
      width: 50px;
    }
    #hilitecolor-button {
      width: 70px;
    }
    #bold {
      font-weight: bold;
    }
    #italic {
      font-style: italic;
    }
    #underline {
      text-decoration: underline;
    }
    .toolbar {
      font-size: .75em;
    }
    #page {
      width: 440px;
      left: 50%;
      position: relative;
      margin-left: -226px;
      height: 450px;
      border: 1px solid #888;
      box-shadow: 7px 7px 3px #ccc;
      font-size: 11px;
      font-family: "Lucida Grande";
      zoom: 100%;
      padding: 5px;
      white-space: pre-line;
      overflow: scroll;
    }
    .wrap {
      width: 588px;
  }
  /*controlgroup*/
  /*color animation*/
  .toggler { width: 500px; height: 200px; position: relative; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 240px; height: 170px; padding: 0.4em; position: relative; background: #fff; }
    #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
  /*color animation*/
  /*effect*/
  .toggler { width: 500px; height: 200px; position: relative; }
    #buttons { padding: .5em 1em; text-decoration: none; }
    #effects { width: 240px; height: 170px; padding: 0.4em; position: relative; }
    #effects h3 { margin: 0; padding: 0.4em; text-align: center; }
    .ui-effects-transfer { border: 2px dotted gray; }
  /*effect*/
  /*position*/
    #parent {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #777;
    background-color: #fbca93;
    text-align: center;
  }
  .positionable {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    background-color: #bcd5e6;
    text-align: center;
  }
  #positionable1 {
    width: 75px;
    height: 75px;
  }
  #positionable2 {
    width: 120px;
    height: 40px;
  }
  select, input {
    margin-left: 15px;
  }
  /*position*/
  /*widget*/
  .custom-colorize {
    font-size: 20px;
    position: relative;
    width: 75px;
    height: 75px;
  }
  .custom-colorize-changer {
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  /*widget*/